*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family:  Calibri, sans-serif;
}

.navbar_name{
    padding-left: 15%;
    padding-top: 3%;
    padding-left: 25%;
    position: absolute;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
}

.navbar_items {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-top: 3%;
    padding-left: 48%;
    z-index: 10;
    display: flex;
  gap: 30px;
  position: absolute;
  color: white;
  }

.navbar_items h4:hover{
    color: yellow;
}

  .background_image{
      width: 100%;
      height: 100%;

  }

  .bg_image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .content_container{
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

  .content_title{
    font-weight: 600;
    font-size: 2.5rem;
    color: wheat;
    
    align-items: center;
    padding: 10% 0% 60% 50%;

  }

  .content_description{
      color: wheat;
      margin: 0 50px;
      position: absolute;
      padding: 25% 0% 40% 43%;
      font-size: 1.2rem;
}


.button1{
    background-color: rgb(219, 219, 27);
    border: 1px solid rgb(219, 219, 27);
    color: black;
    padding: 0.8rem 1.2rem;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.button1:hover{
        background-color: rgba(87,12,87);
        border: 1px solid rgba(87,12,87);
    }

.button2{
    background-color: rgb(87, 12, 87);
    border: 1px solid rgb(87, 12, 87);
    color: black;
    padding: 0.8rem 1.2rem;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.button2:hover{
    background-color: rgba(219,219,27);
    border: 1px solid rgba(219,219,27);
}

.extra_info{
    position:absolute;
    
    top: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20% 0% 40% 26%;
}

.second_heading{
    align-items: center;
    padding-top: 3%;
    text-align: center;
}

.sub_heading{
    font-size: 1.2rem;
}

.second_row{
    padding: 3% 10% 3% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon{
    margin-left: 10%;
    height: 150px;
    width: 150px;
    
}

.items_listed{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    }


.second_part{
    background-color: white;
    padding-left:25%;
    padding-right:25%;
}

.second_part1{
    text-align: center;
    padding-top: 10%;
    align-items: center;
}

.item1 ,.item2, .item3 {
    padding-right: 15%;


}
.item3{
    padding-right: 15%;
}

hr{
    margin:1em 15%;
    border: 1px solid rgb(90, 90, 90);
}

.third_part1{
    text-align: center;
    padding-bottom: 3%;
}

.image_container{
    display: flex;
    flex-direction: row;
    

}

.container1{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    width: 25%;
    height: 30%;
    text-align: left;
    align-items: left;
    

}

.button3{
    background-color: white;
    border: 1px solid white;
    color: black;
    padding: 0.8rem 1.2rem;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.con_describe1{
    padding:10%;
}

.container2{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 29);
    width: 25%;
    height: 30%;
    text-align: left;
    align-items: left;
    }

.img1, .img2, .img3 , .img4 {
    height:480px;
    width: 500px;

}

.img4{
    height:480px;
    width: 500px;
}

.container3{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    width: 25%;
    height: 30%;
    text-align: left;
    align-items: left;
}


.container4{
    display: flex;
    flex-direction: column;
    background-color:rgb(207, 207, 207);
    width: 25%;
    height: 30%;
    text-align: left;
    align-items: left;
}

.con_describe2{
    padding:10%;
}

.con_describe3{
    padding:10%;
}

.con_describe4{
    padding:10%;
}

.img4,.img1,.img3,.img2{
    width: 100%;
}

.third_part2{
    text-align: center;
    padding-top: 4%;
}

.plan_container{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 3% 0% 5% 23%;
    
}

.plan_con{
   
    padding-right: 5%;
    padding-left: 5%;
}

.vertical {
    border-left: 2px solid gray;
    height: 200px;
   
}

.Heading{
    text-align: center;
    padding-top: 3%;
}

.video_part{
    text-align: center;
    background-color: rgb(88, 0, 88);
    
}

.video_container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 450px;
    width: 100%;
    padding: 3%;
    
}

.video{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.team_con{
    display: flex;
    flex-direction: row;
    padding-left: 18% ;
    padding-bottom: 5% ;
    
   

}

.profile{
    align-items: center;
    text-align: center;
    width: 200px;
    height: 250px;
    padding-right: 20%;
    padding-left: 5%;
}

.team{
    width: 200px;
    height: 200px;
    padding: 5% 20%;
     
}

.overlap {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.profile:hover .overlap {
    opacity: 1;
  }

.profile:hover .team_con {
    opacity: 0.3;
  }

.photo_gallery{
    background-color: rgb(219, 219, 219);
}

.container {
    position: relative;
    padding: 1% 20% 3% 20% ;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 20%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


.bridge{
    width: 100%;
    height: 70vh;
}

.img_head{
    color: black;
    text-align: center;
    position: absolute;
    padding: 10% 30% 3% 41%;
}

.email_info{
    position: absolute;
    padding: 14% 30% 3% 32%;
    display: flex;
    flex-direction: row;
}

.email{
    padding: 0.5rem 0.5rem;
    border-radius: 2px;
    border: 1px solid white;
    color: gray;
    width: 400px;
    height: 40px;
}

.button{
    background-color: rgb(219, 219, 27);
    border: 1px solid rgb(219, 219, 27);
    color: black;
    padding: 0.5rem 0.5rem;
    
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    width: 100px;
    height: 40px;
}

.button:hover {
    background-color: rgba(87,12,87);
    border: 1px solid rgba(87,12,87);
  }


.blog_img{
    height: 100px;
    width: 200px;

}

.blog_container{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 3% 20% 5% 20%;
    
}

.buttons{
    background-color: rgb(180, 180, 180);
    border: 1px solid rgb(180, 180, 180);
    color: black;
    padding: 0.8rem 1.2rem;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.mapouter{
    position: absolute;
}

.contact{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 36);
    padding: 3% 20% 3% 3%;
    gap: 10px;
    text-align: left;
    width: 50%;

}

.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field{
    height: 30px;
    width: 300px;
    border: 1px solid white;
    padding: 0.5rem 0.5rem;
}

.message{
    height: 150px;
    width:300px ;
    border: 1px solid white;

}

.info{
    background-color: rgb(87, 12, 87);
    border: 1px solid rgb(87, 12, 87);
    color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    width: 300px;
}

.map_part{
    display: flex;
    flex-direction: row;
}

.footer_container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 5% 25% 5% 30%;

}

.footer1{
    text-align: center;
}

.footer1 p{
    color: rgb(156, 155, 155);
}




    














